
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Raleway', sans-serif;
    background:#FEFBF2;
    color:#6B1831;
}

/* HERO */

.hero{
     height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#6B1831;
    background-image: url("");  /* <-- Aquí va el gif de la portada */
 
}
    /* Caja de la T original */
.letra-t {
    position: relative; 
    display: inline-block;
}

/* T inclinada que va por encima */
.letra-t::after {
    content: "T";               
    position: absolute;         /* Lo saca del flujo normal para poder moverlo libremente */
    top: -80px;                 /* Lo mueve hacia arriba o abajo */
    left: 20px;                  /* Lo mueve hacia la derecha si aumento el numero */
    transform: rotate(35deg);   /* La inclinación  */
    color: #6B1831;           
    

}
    

.hero-content{
    max-width:900px;
    padding:20px;
}

.hero h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 128px;              
    font-weight: normal;           
    text-transform: uppercase;     /* Todo en mayúsculas */
    letter-spacing: 0.08em;        
    margin-bottom: 25px;
    color: #6B1831;                
}
.hero p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;        
    text-align: center;        
    margin-bottom: 20px;       
    line-height: 1.5;          
    color: #6B1831;        
    margin-top: -15px;    /* <-- si pongo -25px subirá más, si pongo -5px subirá menos */
    margin-bottom: 35px;   
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background: #f5bebf;
    color: #FEFBF2;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: .3s;
    /* --- LO NUEVO QUE AGREGUÉ --- */
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
 

.btn:hover{
    transform:translateY(-3px);
    background-color:#8C2041;
    color:white;
}

/* PARALLAX */

.parallax{
    height:80vh;
    background-image:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=1600");
    background-size:cover;
    background-position:center;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay h2{
    color:white;
    font-size:3rem;
}

/* CONTENIDO */

.contenido{
    max-width:900px;
    margin:auto;
    padding:80px 20px;
    text-align:center;
}

.contenido h2{
    margin-bottom:20px;
    font-size:2.5rem;
}

.contenido p{
    line-height:1.8;
    font-size:1.1rem;
}

/* GALERÍA */

.galeria{
    padding:80px 20px;
}

.galeria h2 {
    text-align: center;
    margin-bottom: 40px;
    
    
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;             
    letter-spacing: 0.08em;      
    text-transform: uppercase;
    color: #6B1831;              
}

.grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    /* --- LÍNEA QUE FUERZA LAS 4 COLUMNAS --- */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 200px;      /* <-- Bajé de 250px a 200px para equilibrar las 4 columnas */
    object-fit: cover;  /* Esto asegura que la foto no se deforme, solo se recorte bonito */
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
}

.grid img:hover{
    transform:scale(1.05);
}

/* LIGHTBOX */

.lightbox{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.lightbox img{
    max-width:90%;
    max-height:85%;
    border-radius:10px;
}

.cerrar{
    position:absolute;
    top:20px;
    right:40px;
    color:white;
    font-size:3rem;
    cursor:pointer;
}

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .overlay h2{
        font-size:2rem;
    }

}





